/*font-face*/
@font-face {
  font-family: 'sanseriffic';
  src: url('sanseriffic/Sanseriffic.otf');
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  margin: 0;
}

/*morpion*/
.morpion{
  margin: auto;
}

/*rectangle*/
.rectangle{
  display: flex;
}

/*carré*/
.square{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  font-family: 'Sanseriffic', sans-serif;
  font-size: 50px;
  color: #595959;
  border: 2px solid #bfbfbf;
}

.up{
  border-top: none;
}

.right{
  border-right: none;
}

.down{
  border-bottom: none;
}

.left{
  border-left: none;
}

.square:hover{
  background-color: #bfbfbf;
}

.blu{
  border-top-left-radius: 2px;
}

.bru{
  border-top-right-radius: 2px;
}

.dlu{
  border-bottom-left-radius: 2px;
}

.dru{
  border-bottom-right-radius: 2px;
}


/*bouton*/
.clear{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 100px;
  right: 200px;
  color: #999999;
  text-decoration: none;
  width: 150px;
  height:30px;
  border: 2px solid #bfbfbf;
  border-radius: 2px;
}

.clear:hover{
  background-color: #bfbfbf;
  color: #f2f2f2;
}
